/* font  */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./assets2/fundo\ 2\ PC.png');
    background-size: cover;
}

.hero .content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero .content .logo {
    width: 50%;
    display: block;
    align-items: center;
    text-align: center;
}
.hero .content .logo .logoCanal3 {
    width: 70%;
}
.hero .content .logo .data {
    width: 70%;
}
.hero .content .logo .start {
    width: 30%;
}
.hero .content .onlyMob {
    display: none;
}

.hero .aliens {
    display: flex;
    width: 100%;
    /* height: 100px; */
    justify-content: left;

}
.hero .aliens img {
    position: absolute;
    width: 20%;
    z-index: 1;
    margin-top: -100px;
}

.cometa {
    position: absolute;    /* Posiciona em relação ao contêiner pai */
    top: 170%;              /* Centraliza verticalmente na tela */
    right: -50px;          /* Move a imagem parcialmente para fora da tela à direita */
    transform: translateY(-50%); /* Centraliza no eixo Y */
    height: 300px;         /* Define a altura da imagem, ajuste conforme necessário */
    object-fit: cover;
    clip-path: inset(0 50px 0 0);
}

/* Seção Garantir Ingressos */
.garantir {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets2/17\ -\ fundo\ pacman.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.garantir .garantirContent {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
.garantir .garantirContent img {
    width: 40%;
}
.garantir .garantirContent .content {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.garantir .garantirContent .content img {
    width: 80%;
}
.garantir .garantirContent .content .contentText {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.garantir .garantirContent .content .contentText a {
    margin-top: 0.5rem;
    width: 30%;
}
.garantir .garantirContent .content .contentText a img{
    width: 100%;
}
.garantir .garantirContent .content .contentText p {
    width: 90%;
    font-family: 'kanit', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #ffffff;
}

/* Seçaõ Carrosel de Atrações */
.atracoes {
    width: 100%;
    height: 90vh;

    background-image: url(assets2/fundo\ 1\ PC.png);
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.atracoes .aviao {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: end;

    position: relative;
}

.atracoes .aviao img {
    width: 18%;
    margin-top: -19%;
    position: absolute;
}
/*Cronometro*/
.restam{
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top:-2rem;
}
.barra{
    width: 60%;

    display: flex;
    justify-content: center;
    font-family: Kanit, sans-serif;

    /* margin-top: 3rem; */
}
.restam .cronometro{
    width: 70%;
    background-color: #ffffff;
    color: #250d2a;
    border-radius: 100px 100px 100px 100px;
        
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.restam .cronometro p{
    line-height: auto;
    color: rgb(128, 0, 0);
    font-size: 1rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.restam .cronometro span{
    font-size: 2rem;
    font-weight: 700;
    color: #250d2a;
}
.restam .cronometro h3 {
    font-size: 2rem;
    font-weight: 700;

}
/* Carousel */
.carousel-container {
    margin-top: 1rem;
    width: 100%; /* Ajuste conforme necessário */
    overflow: hidden; /* Oculta os cards que estão fora da área visível */
    cursor: grab; /* Muda o cursor para indicar que o carrossel pode ser arrastado */
    /* z-index: 2; */
}

.carousel-track {
    display: flex;
    overflow: hidden; /* Garante que os cards fora da vista não apareçam */
    transition: transform 0.3s ease; /* Suaviza o movimento */
}

.card {
    width: 20%;
    /* min-width: 10px; Largura dos cards */
    margin: 0 10px; /* Espaçamento entre os cards */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    flex-shrink: 0; /* Evita que os cards se encolham */
}

.card img {
    width: 100%;
    border-radius: 8px;
    user-select: none; /* Impede que a imagem seja selecionada */
}

/* Seção Carrousel Convidados */
.convidados {
    width: 100%;
    height: 90vh;

    background-image: url(./assets2/17\ -\ fundo\ pacman.png);
    background-size: cover 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.convidados .carousel-container {
    height: 75%;
}
.convidados .carousel-track {
    max-height: 100%;
}
.convidados .card {
    width: 17%;
    margin: 0;
}
.convidados .card img {
    width: 60%;
}
.convidados a {
    width: 20%;
}
.convidados .garantaJa {
    width: 100%;
}

/* Seção Saiba Mais */
.saibaMais {
    width: 100%;
    height: auto;

    background-image: url('./assets2/fundo\ 2\ PC.png');
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.saibaMais .title {
    margin-top: 2rem;
    max-width: 600px;
    text-align: center;
}
.saibaMais .title h1 {
    font-family: 'Press Start 2P';
    font-size: 2rem;
    color: white;
    line-height: 50px;
}
.saibaMais .flex-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens ocupem várias linhas */
    gap: 10px; /* Espaçamento entre as imagens */
    max-width: 600px; /* Largura máxima para o flexbox */
    margin: 2rem 0 auto 0; /* Centraliza o flexbox na página */
}
.saibaMais .flex-container img {
    width: calc(50% - 5px); /* Faz cada imagem ocupar metade da linha, considerando o espaçamento */
    height: auto; /* Mantém a proporção da imagem */
}
.saibaMais .querSaber {
    width: 100%;

    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 50px;
}

.saibaMais .querSaber .imgConteiner {
    width: 30%;
    margin-right: 1rem;
}
.saibaMais .querSaber .imgConteiner img{
    width: 100%;
}
.saibaMais .querSaber .faq {
    width: 35%;
    color: #fff;
    font-family: Kanit, sans-serif;
    margin-left: 1rem;
}
.saibaMais .querSaber .faq h3{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.saibaMais .querSaber .faq p {
    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 1rem;
}

/* APOIO */

footer{
    width: 100%;


    background-color: #250d2a;
    border-top: #fff 1px solid;

    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer img{
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;
}
footer p{
    text-align: center;
    width: 35%;

    padding-right: 5px;
}
footer div {
    width: 45%;
    margin-left: 5px;
    padding-left: 5px;

    border-left: #fff 1px solid;
}
footer div img{
    width: 60%;
}
footer div p{
    text-align: start;
    font-size: 0.5rem;
}

@media screen and (max-width: 550px) {
    /* Home */
    body {
        overflow-x: hidden;
    }
    iframe {
        margin-top: 2rem;
        width: 80%;
        height: 25%;
    }
    .cometa {
        clip-path: inset(0 50px 0 0);
    }
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-image: url('./assets2/fundo\ 2.png');
        background-size: contain 100%;
    }
    .hero .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .hero .content .logo{
        width: 100%;
    }
    .hero .content .logo .logoCanal3{
        width: 90%;
    }
    .hero .content .logo .start {
        display: none;
        width: 50%;
    }
    .hero .content .onlyMob {
        margin-top: 3rem;
        display: block;
        align-items: center;
        text-align: center;

    }
    .hero .content .onlyMob .start2 {
        width: 50%;
    }

    
    .parteBaixo .querSaber .faq {
        width: 90%;
    }

    /* Garantir Ingressos*/
    .garantirContent .sai{
        display: none;
    }
    .garantir{
        width: 100%;
        height: auto;

        background-image: url('./assets2/17\ -\ fundo\ pacman.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .garantir .garantirContent{
        width: 100%;
    }
    .garantir .garantirContent .content{
        width: 100%;

        display: flex;
        align-items: center;

        margin-top: 20px;
    }
    .garantir .garantirContent .content .contentText{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .garantir .garantirContent .content .contentText p{
        margin: 1rem;
        width: 90%;
        font-size: 1.4rem;
    }
    .garantir .garantirContent .content .contentText a{
        margin-top: 1rem;
        width: 40%;
    }
    .garantir .garantirContent .content .contentText img{
        width: 100%;
        margin-bottom: 40px;
    }

    /* Seção Atrações */
    .atracoes {
        height: auto;

        padding-bottom: 30px;
    }
    .atracoes .card {
        width: 60%;

        margin-top: 20px;
    }

    /* Seção Convidados  */
    .convidados {
        height: auto;
    }
    .convidados .card {
        width: 50%;
        margin: 0;
    }
    .convidados a {
        width: 40%;
        margin-bottom: 10px;
    }

    /* Contador */
    .restam {
        margin-top: -1.5rem;
    }
    .restam .barra {
        width: 80%;
    }
    .restam .barra .cronometro{
        width: 100%;
    }
    .restam .barra .cronometro p{
        font-size: 1rem;
    }
    .restam .barra .cronometro h3{
        font-size: 1rem;
    }
    .restam .barra .cronometro p span{
        font-size: 1.1rem;
    }
    .restam .desconto {
        padding-left: 1px;
    }

    /* Seção Saiba Mais */
    .saibaMais .title h1 {
        font-size: 1.2rem;
    }
    .saibaMais .flex-container {
        max-width: 300px;
    }
    .saibaMais .querSaber .imgConteiner {
        width: 50%;
    }

    .saibaMais .querSaber {
        display: flex;
        justify-content: center; /* Alinha horizontalmente */
        align-items: center; /* Alinha verticalmente */
        flex-direction: column;
    }
    .saibaMais .querSaber  .faq{
        width: 90%;
    }

    /* footer */
    footer{
        font-size: 0.5rem;
        height: 45px;
    }
}