/* font  */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./assets2/fundo\ 2\ PC.png');
    background-size: cover;
}

.hero .content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero .content .logo {
    width: 50%;
    display: block;
    align-items: center;
    text-align: center;
}
.hero .content .logo .logoCanal3 {
    width: 70%;
}
.hero .content .logo .data {
    width: 70%;
}
.hero .content .logo .start {
    width: 30%;
}
.hero .content .onlyMob {
    display: none;
}

.hero .aliens {
    display: flex;
    width: 100%;
    /* height: 100px; */
    justify-content: left;

}

.hero .aliens img {
    position: absolute;
    width: 12%;
    z-index: 1;
    margin-top: -70px;
}

/* Seção Garantir Ingressos */
.garantir {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets2/17\ -\ fundo\ pacman.png);
    background-size: cover 100%;
    background-repeat: no-repeat;
}
.garantir .garantirContent {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}
.garantir .garantirContent img {
    width: 40%;
}
.garantir .garantirContent .content {
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.garantir .garantirContent .content img {
    width: 80%;
}
.garantir .garantirContent .content .contentText {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.garantir .garantirContent .content .contentText a {
    margin-top: 0.5rem;
    width: 30%;
}
.garantir .garantirContent .content .contentText a img{
    width: 100%;
}
.garantir .garantirContent .content .contentText p {
    width: 80%;
    font-family: 'kanit', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
}

/* Seçaõ Carrosel de Atrações */
.atracoes {
    width: 100%;
    height: 90vh;

    background-image: url(assets2/fundo\ 1\ PC.png);
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.atracoes .aviao {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: end;

    position: relative;
}

.atracoes .aviao img {
    width: 18%;
    margin-top: -19%;
    position: absolute;
}
/*Cronometro*/
.restam{
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top:-2rem;
}
.barra{
    width: 60%;

    display: flex;
    justify-content: center;
    font-family: Kanit, sans-serif;

    /* margin-top: 3rem; */
}
.restam .cronometro{
    width: 70%;
    background-color: #ffffff;
    color: #250d2a;
    border-radius: 100px 100px 100px 100px;
        
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.restam .cronometro p{
    line-height: auto;
    color: rgb(128, 0, 0);
    font-size: 1rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.restam .cronometro span{
    font-size: 2rem;
    font-weight: 700;
    color: #250d2a;
}
.restam .cronometro h3 {
    font-size: 2rem;
    font-weight: 700;

}
/* Carousel */
.carousel-container {
    margin-top: 1rem;
    width: 100%; /* Ajuste conforme necessário */
    overflow: hidden; /* Oculta os cards que estão fora da área visível */
    cursor: grab; /* Muda o cursor para indicar que o carrossel pode ser arrastado */
}

.carousel-track {
    display: flex;
    overflow: hidden; /* Garante que os cards fora da vista não apareçam */
    transition: transform 0.3s ease; /* Suaviza o movimento */
}

.card {
    width: 20%;
    /* min-width: 10px; Largura dos cards */
    margin: 0 10px; /* Espaçamento entre os cards */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    flex-shrink: 0; /* Evita que os cards se encolham */
}

.card img {
    width: 100%;
    border-radius: 8px;
    user-select: none; /* Impede que a imagem seja selecionada */
}

/* Seção Carrousel Convidados */
.convidados {
    width: 100%;
    height: 90vh;

    background-image: url(./assets2/17\ -\ fundo\ pacman.png);
    background-size: cover 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.convidados .carousel-container {
    height: 75%;
}
.convidados .carousel-track {
    max-height: 100%;
}
.convidados .card img {
    width: 60%;
}
.convidados a {
    width: 15%;
}
.convidados .garantaJa {
    width: 100%;
}

/* Seção Saiba Mais */
.saibaMais {
    width: 100%;
    height: 90vh;

    background-image: url(assets2/fundo\ 1\ PC.png);
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.saibaMais .querSaber {
    width: 100%;

    display: flex;
    justify-content: space-around;
    text-align: left;
    /* align-items: center; */

    margin-top: 3rem;
    margin-bottom: 50px;
}

.saibaMais .querSaber img {
    width: 37%;
}
.saibaMais .querSaber .faq {
    width: 40%;
    color: #fff;
    font-family: Kanit, sans-serif;
}
.saibaMais .querSaber .faq h3{
    margin-top: 1rem;
    font-size: 1.2rem;
}
.saibaMais .querSaber .faq p {
    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 1rem;
}

/* APOIO */

footer{
    width: 100%;


    background-color: #250d2a;
    border-top: #fff 1px solid;

    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer img{
    width: 15%;
    margin-left: 10px;
    margin-top: 10px;
}
footer p{
    text-align: center;
    width: 35%;

    padding-right: 5px;
}
footer div {
    width: 45%;
    margin-left: 5px;
    padding-left: 5px;

    border-left: #fff 1px solid;
}
footer div img{
    width: 60%;
}
footer div p{
    text-align: start;
    font-size: 0.5rem;
}

@media screen and (max-width: 480px) {
    /* Home */
    iframe {
        margin-top: 2rem;
        width: 80%;
        height: 25%;
    }
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-image: url('./assets2/fundo\ 2.png');
        background-size: contain 100%;
    }
    .hero .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .hero .content .logo{
        width: 100%;
    }
    .hero .content .logo .logoCanal3{
        width: 90%;
    }
    .hero .content .logo .start {
        display: none;
        width: 50%;
    }
    .hero .content .onlyMob {
        margin-top: 3rem;
        display: block;
        align-items: center;
        text-align: center;

    }
    .hero .content .onlyMob .start2 {
        width: 50%;
    }

    
    .parteBaixo .querSaber .faq {
        width: 90%;
    }

    /* Garantir Ingressos*/
    .garantirContent .sai{
        display: none;
    }
    .garantir{
        width: 100%;
        height: 50vh;

        background-image: url('./assets2/17\ -\ fundo\ pacman.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .garantir .garantirContent{
        width: 100%;
    }
    .garantir .garantirContent .content{
        width: 100%;

        display: flex;
        align-items: center;

        margin-top: 20px;
    }
    .garantir .garantirContent .content .contentText{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .garantir .garantirContent .content .contentText p{
        margin: 1rem;
        width: 90%;
        font-size: 1.4rem;
    }
    .garantir .garantirContent .content .contentText a{
        margin-top: 1rem;
        width: 40%;
    }
    .garantir .garantirContent .content .contentText img{
        width: 100%;
    }

    /* quem somos */
    .quemSomos {
        width: 100%;
        height: 100vh;
    }

    .quemSomos .quemSomosContent {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .quemSomos .quemSomosContent .contentText {
        width: 90%;
        height: auto;
    }

    /* atrações */
    .parteBaixo .atracoes {
        height: 50px;
    }
    .parteBaixo .atracoes img{
        width: 60%;

        position: absolute;
        margin-top: -4%
    }
    .parteBaixo {
        background-size: contain 100%;
        background-repeat: no-repeat;
    }
    .parteBaixo a{
        width: 70%;
    }

    /* Quer saber */
    .parteBaixo .querSaber {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;
        margin-bottom: 50px;
    }

    .parteBaixo .querSaber img {
        width: 70%;
        margin-bottom: 15px;
    }

    .parteBaixo .querSaber p {
        width: 90%;
        margin-top: 5px;
    }

    /* Carrosel */ 
    /* .parteBaixo .carrosel .carousel{
        width: 550px; 
    } */
    .parteBaixo .carrosel .carousel .espaco{
        display: none;
    }
    .parteBaixo .carrosel .carousel div img{
        width: 93%;
    }
    .carrosel {
        margin-bottom: 20px;
    }

    .parteBaixo .restam .barra .cronometro{
        width: 100%;
    }
    .parteBaixo .restam .barra .cronometro p{
        font-size: 1rem;
    }
    .parteBaixo .restam .barra .cronometro h3{
        font-size: 1rem;
    }
    .parteBaixo .restam .barra .cronometro p span{
        font-size: 1.1rem;
    }
    .parteBaixo .restam .desconto {
        padding-left: 1px;
    }
    /* footer */
    footer{
        font-size: 0.5rem;
        height: 45px;
    }
}