/* font  */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('./assets/01\ -\ Background.png');
    background-size: 100% 100%;
}

.hero .content {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.hero .content .logo {
    width: 50%;
    display: block;
    align-items: center;
    text-align: center;
}
.hero .content .logo .logoCanal3 {
    width: 70%;
}
.hero .content .logo .start {
    width: 30%;
}

.hero .content .video {
    /* background-color: palevioletred; */
    width: 50%;
    /* height: 75%; */
    display: block;
    align-items: center;
    text-align: center;
}

.hero .content .video img {
    width: 70%;
}
.hero .content .video p {
    font-size: 3rem;
    color: #fff;
}

.hero .aliens {
    display: flex;
    width: 100%;
    /* height: 100px; */
    justify-content: left;

}

.hero .aliens img {
    position: absolute;
    width: 12%;
    z-index: 1;
    margin-top: -70px;
}

.garantir {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.garantir .garantirContent {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.garantir .garantirContent .sai {
    height: 90%;
    width: 50%;
    z-index: 2;
}

.garantir .garantirContent .content {
    width: 70%;
    height: 90%;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.garantir .garantirContent .content .contentText {
    display: block;
    text-align: center;
}

.garantir .garantirContent .content .contentText img {
    margin-top: 5rem;
    width: 30%;
}

.garantir .garantirContent .content img {
    width: 80%;
}

.garantir .garantirContent img {
    width: 10%;
}
.garantir .garantirContent .content .contentText p {
    width: 85%;
    margin-top: 15px;
    font-family: 'kanit', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

/* Parte atrações parabaixo */

.parteBaixo {
    width: 100%;
    height: auto;
    margin-top: 100px;

    background-image: url(assets/06\ -\ Background01.png);
    background-size: cover;

    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ATRAÇÕES */

.parteBaixo .atracoes {
    width: 100%;
    /* height: 50px; */

    display: flex;
    align-items: start;
    flex-direction: column;

    position: relative;
}

.parteBaixo .aviao {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: end;

    position: relative;
}

.parteBaixo .aviao img {
    width: 18%;
    margin-top: -19%;
    position: absolute;
}

.parteBaixo .atracoes img {
    width: 30%;

    position: absolute;
    margin-top: -3%
}

/* garanta seus ingressor */
.parteBaixo a {
    width: 30%;
    display: flex;
    align-items: center;
}
.parteBaixo a img {
    width: 100%;
}

.parteBaixo img {
    width: 65%;
}

/* quer saber  */
.parteBaixo .querSaber {
    width: 100%;

    display: flex;
    justify-content: space-around;
    text-align: center;

    margin-top: 100px;
    margin-bottom: 50px;
}

.parteBaixo .querSaber img {
    width: 45%;
}

.parteBaixo .querSaber p {
    width: 40%;

    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 1.1rem;
}

/* Carrosel */
.carrosel {
    width: 100%;

    margin-bottom: 3rem;
}
.carousel {
    height: 100%;
    margin: 0 auto;
}


    /*Cronometro*/
    .parteBaixo .restam{
        width: 100%;

        display: flex;
        justify-content: center;

    }
    .parteBaixo .barra{
        width: 80%;

        display: flex;
        justify-content: center;
        font-family: Kanit, sans-serif;

        margin-top: 100px;
    }
    .parteBaixo .restam .cronometro{
        width: 75%;
        background-color: #ffffff;
        color: #250d2a;
        border-radius: 100px 0px 0px 100px;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .parteBaixo .restam .cronometro p{
        color: #250d2a;
        font-size: 0.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .parteBaixo .restam .cronometro p span{
        font-size: 1.5rem;
    }
    .parteBaixo .restam .desconto{
        width: 25%;
        background-color: #d34a78;
        color: #fff;
        border-radius: 0px 100px 100px 0px;

        display: flex;
        align-items: center;
    }
    .parteBaixo .restam .desconto p{
        width: 50%;
        font-size: 0.5rem;
    }

/* APOIO */

footer{
    width: 100%;
    height: 100px;

    background-color: #250d2a;
    border-top: #fff 1px solid;

    color: #fff;
    font-family: Kanit, sans-serif;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer img{
    width: 20%;
    margin-left: 10px;
}
footer p{
    text-align: center;
    width: 35%;

    padding-right: 5px;
}
footer div {
    width: 45%;
    margin-left: 5px;
    padding-left: 5px;

    border-left: #fff 1px solid;
}
footer div img{
    width: 60%;
}
footer div p{
    text-align: start;
    font-size: 0.5rem;
}

@media screen and (max-width: 480px) {
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .hero .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hero .content img {
        width: 90%;
    }

    .hero .content .video p {
        font-size: 3rem;
        color: #fff;
    }

    /* quem somos */
    .quemSomos {
        width: 100%;
        height: 100vh;
    }

    .quemSomos .quemSomosContent {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .quemSomos .quemSomosContent .contentText {
        width: 90%;
        height: auto;
    }

    /* atrações */
    .parteBaixo .atracoes {
        height: 50px;
    }
    .parteBaixo {
        background-size: cover;
    }
    .parteBaixo a{
        width: 70%;
    }

    /* Quer saber */
    .parteBaixo .querSaber {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 100px;
        margin-bottom: 100px;
    }

    .parteBaixo .querSaber img {
        width: 80%;
        margin-bottom: 15px;
    }

    .parteBaixo .querSaber p {
        width: 80%;

        margin-top: 5px;
    }

    /* Carrosel */
    .carrosel {
        margin-bottom: 20px;
    }

    .card {
        width: 70;
        height: 370px;
    }

    #espaco {
        width: 50px;
        background-color: rgba(240, 248, 255, 0);
    }

    /* footer */
    footer{
        font-size: 0.5rem;
    }
}